# Twitter

Is it possible to use the DomainTools list to look for tweets that are potentially spreading misinformation? Fortunately, Twitter's Search does allow for searching by a domain name, try [www.cdc.gov](https://twitter.com/search?q=www.cdc.gov&f=live) for example. However the Search API only returns results for the last week. Given this caveat we can still take a look.

## DomainTools

First we need to load the DoaminTools data:

In [92]:
import pandas

df = pandas.read_csv('data/domaintools/2020-04-05.csv.gz',
    parse_dates=['created'], 
    sep='\t',
    names=['domain', 'created', 'risk']
)
df

                         domain    created  risk
0           covid19fashions.com 2020-04-04    99
1       coronaviruscardgame.com 2020-04-04    99
2                covidonline.me 2020-04-04    99
3         covid-19contained.com 2020-04-04    99
4        covidcrime-chicago.com 2020-04-04    99
...                         ...        ...   ...
116706               wuhanbj.cn 2020-01-23    70
116707       wuhanpneumonia.org 2020-01-19    70
116708         wuhanfengtai.com 2020-01-13    70
116709      ecovida5dmalaga.com 2020-01-07    70
116710   coronationbitter.co.uk 2020-01-02    70

[116711 rows x 3 columns]

## Collect Tweets

[twarc](https://github.com/docnow/twarc) is a useful Python library for collecting tweet JSON data while observing their API rate lmits. We have 116,710 domains to search for, so being able to observe the rate limits is important.

[Twitter's Rate Limits](https://developer.twitter.com/en/docs/basics/rate-limits) show that the search API has a limit of 180 requests / 15 minutes for User authentication and 450 requests/ 15 minutes for App authentication. The difference between these is a bit complicated to go into here, but basically User auth is when you want to do something on behalf of a user (say send a tweet), and App auth is when you can do something as a software application. We aren't doing these searches *for* a particular user, and the App authentication will let us performa a lot more queries.

But how long will it take?

In [36]:
reqs_per_hour = 450 * 4
116711 / reqs_per_hour

64.83944444444444

It will take 64 hours! How about if we only look at the domains with the highest risk score?

In [42]:
len(df[df.risk >= 99.0]) / reqs_per_hour

47.946666666666665

Ok, that's still a long time to wait. Since Twitter's API only lets us search tweets for the past 7 days maybe we could get an interesting view by looking for domains that were created during that time? We also might stand a better chance of seeing them before they are deleted by Twitter.

So how long would will this take?

In [55]:
import datetime

a_week_ago = datetime.datetime.now() - datetime.timedelta(days=7)
df['created']

len(df[(df.risk >= 99.0) & (df.created >= a_week_ago)]) / reqs_per_hour

4.051111111111111

4 hours seems manageable! Lets start by looking at those.

In [57]:
latest_domains = df[(df.risk >= 99.0) & (df.created >= a_week_ago)]
latest_domains

                             domain    created  risk
0               covid19fashions.com 2020-04-04    99
1           coronaviruscardgame.com 2020-04-04    99
2                    covidonline.me 2020-04-04    99
3             covid-19contained.com 2020-04-04    99
4            covidcrime-chicago.com 2020-04-04    99
...                             ...        ...   ...
7287             covid19costume.com 2020-03-31    99
7288  covid19testinglocations.co.nz 2020-03-31    99
7289                  covidegypt.cf 2020-03-31    99
7290              goawaycovid19.org 2020-03-31    99
7291                 mijn-corona.nl 2020-03-31    99

[7292 rows x 3 columns]

In [58]:
import twarc

You can skip this next cell if you've used twarc before. Otherwise you need to run it to tell twarc your API keys.

In [ ]:
t = twarc.Twarc(validate_keys=False)
t.configure()

If you didn't run the cell above you will now need to create your twarc client.

In [59]:
t = twarc.Twarc(app_auth=True)

Now we can search for each donain and write the full tweets as line oriented JSON, where each line is a tweet, serialized as a JSON object. As we go we'll keep track of domains that had some tweet matches.

Note, we use the `url:` search operator that is documented in [this extensive but unofficial guide](https://github.com/igorbrigadir/twitter-advanced-search) to Twitter's advanced search.

In [ ]:
import json

from collections import Counter

# write the tweets as gzipped json data
today = datetime.date.today().strftime('%Y-%m-%d')
out = open('data/twitter/week-{}.jsonl'.format(today), 'w')

counter = Counter()                
for domain in latest_domains.domain:
    for tweet in t.search('url:{}'.format(domain)):
        json.dump(tweet, out)
        counter[domain] += 1
    if counter[domain] > 0:
        print('{} [{}]'.format(domain, counter[domain]))
        json.dump(counter, open('data/twitter/week-{}-counts.json', 'w'), indent=2)

covidcrime-chicago.com [28]
faeccadizcovid19.es [1]
wrenthamcovid19.com [5]
coronavirus-inform.info [1]
covid19drc.com [32]
coronavirus-news.website [1]

WARNING:twarc:rate limit exceeded: sleeping 846.1488010883331 secs

## Analyze

Let's fold our counts back into the dataset.

In [93]:
tweets = pandas.Series(counter)
df = df.set_index('domain')
df['tweets'] = tweets
df

                           created  risk  tweets
domain
covid19fashions.com     2020-04-04    99     NaN
coronaviruscardgame.com 2020-04-04    99     NaN
covidonline.me          2020-04-04    99     NaN
covid-19contained.com   2020-04-04    99     NaN
covidcrime-chicago.com  2020-04-04    99    28.0
...                            ...   ...     ...
wuhanbj.cn              2020-01-23    70     NaN
wuhanpneumonia.org      2020-01-19    70     NaN
wuhanfengtai.com        2020-01-13    70     NaN
ecovida5dmalaga.com     2020-01-07    70     NaN
coronationbitter.co.uk  2020-01-02    70     NaN

[116711 rows x 3 columns]

We can replace those NaN values with zero:

In [95]:
df['tweets'] = df['tweets'].fillna(int(0))
df

                           created  risk  tweets
domain
covid19fashions.com     2020-04-04    99     0.0
coronaviruscardgame.com 2020-04-04    99     0.0
covidonline.me          2020-04-04    99     0.0
covid-19contained.com   2020-04-04    99     0.0
covidcrime-chicago.com  2020-04-04    99    28.0
...                            ...   ...     ...
wuhanbj.cn              2020-01-23    70     0.0
wuhanpneumonia.org      2020-01-19    70     0.0
wuhanfengtai.com        2020-01-13    70     0.0
ecovida5dmalaga.com     2020-01-07    70     0.0
coronationbitter.co.uk  2020-01-02    70     0.0

[116711 rows x 3 columns]

We can sort the domains by the highest number of tweets:

In [96]:
df = df.sort_values('tweets', ascending=False)
df.head(25)

                           created  risk   tweets
domain
covid19-healthdata.org  2020-04-03    99  26428.0
coronavirus.gop         2020-04-02    99   2050.0
sacoronavirus.co        2020-04-02    99   2010.0
coronavirus-update.us   2020-04-01    99   1743.0
coronavirus.qa          2020-04-01    99   1033.0
covid19impactsurvey.org 2020-04-01    99    706.0
covid-19-act.jp         2020-03-31    99    662.0
covid19.paris           2020-03-31    99    314.0
covid19.gives           2020-03-31    99    313.0
covid.gripe             2020-04-02    99    274.0
covid.study             2020-04-01    99    174.0
covid19stats.ph         2020-03-31    99    172.0
coronapp.es             2020-04-01    99    170.0
covid19.fm              2020-04-03    99    167.0
covid19.baby            2020-04-01    99    144.0
covid19india.news       2020-03-31    99    142.0
macovid19relieffund.org 2020-03-31    99    122.0
covid19jc.com           2020-03-31    99    113.0
covidpreprints.com      2020-04-01    99    109.0
covid19-tests.at        2020-04-02    99     92.0
covid19-coronavirus.de  2020-04-01    99     84.0
covid.tf                2020-04-01    99     67.0
news-coronavirus.online 2020-04-01    99     65.0
covid19engr.com         2020-04-01    99     64.0
coronavirusmap.me       2020-03-31    99     60.0